.u-center-text {
  text-align: center;
}

.u-margin-b-lg {
  margin-bottom: 8rem;
}
.u-margin-b-md {
  margin-bottom: 4rem;
}
.u-margin-b-sm {
  margin-bottom: 1.5rem;
}

.u-margin-t-xlg {
  margin-top: 10rem;
}
.u-margin-t-lg {
  margin-top: 8rem;
}

